/* Add CSS Styling */
.odd{
    background-color:pink;
    font-family: Verdana,"DejaVu Sans",sans-serif;

}
.odd.one {
    font-size: 24px;
}
#first {
color: blue;
font-size: 36px;
}
#second {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}