.header  {
  font-family: monospace;
  background: papayawhip;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
}
.header >  ul {
  flex-grow: 0;
  flex-shrink: 1;
}

a {
  font-size: 22px;
  background: white;
  color: blue;
  /* this removes the line under the links */
  text-decoration: none;
}